@import "tailwindcss";

@theme {
    --breakpoint-xs: 480px;
}

.form-legend {
    @apply border-slate-100 border-b-1 w-full mb-6 text-xl;
}

.form-label {
    @apply inline-block mb-4;
}

.form-input,
.form-select {
    @apply inline-block w-full mb-4 bg-purple-600 p-4 px-2;
}

.form-checkbox {
    @apply w-auto;
}

.form-submit {
    @apply bg-slate-600 hover:bg-slate-700 p-4;
}
