---
import headerImg from '../assets/headerimg.svg';
---
<header  class='grid grid-cols-9 mb-20'>
<div id='container' class='w-full flex flex-col justify-center items-center sm:col-start-2 sm:col-end-9 sm:row-start-1'>
   <img src={headerImg.src} alt="Header" class="w-full h-auto" />
</div>
</header>

<style></style>
