<section class='grid grid-cols-1 sm:grid-cols-5'>
  <div class='w-full flex flex-col justify-center items-center bg-[#59002B] sm:col-start-2 sm:col-end-5 sm:row-start-3  text-white rounded-t-full pt-20'>

    <img class="py-20" src="https://picsum.photos/200/300/?blur" alt="">

  </div>
</section>
