---
import triFlower from "../assets/flowers/Jara grupo de 3.svg";


---

<section id="Lodging" class='grid grid-cols-1 sm:grid-cols-5 scroll-mt-40'>
  <div class='relative w-full flex gap-40 lg:flex-row flex-col justify-center items-center bg-[#59002B] sm:col-start-2 sm:col-end-5 sm:row-start-3 pb-20'>
    <img id='flower' class="absolute left-[-300px] lg:left-[-250px] 2xl:left-[-300px] top-[-50] lg:h-80 lg:w-80 h-150 w-150" src={triFlower.src} alt='Flor decorativa' />

    <div>
      <h3 class='text-2xl font-semibold text-white'>HERRERA DEL DUQUE</h3>
      <ul class='flex flex-col items-center gap-10 m-5 p-5'>
        <li><a href=''>hotel x</a></li>
        <li><a href=''>hotel x</a></li>
        <li><a href=''>hotel x</a></li>
      </ul>
    </div>

    <div>
      <h3 class='text-2xl font-semibold text-white'>GUADALUPE</h3>
      <ul class='flex flex-col items-center gap-10 m-5 p-5'>
        <li><a href=''>hotel x</a></li>
        <li><a href=''>hotel x</a></li>
        <li><a href=''>hotel x</a></li>
      </ul>
    </div>
  </div>
</section>
