---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id='container' class="w-full h-screen flex flex-col justify-center items-center bg-[url('../assets/background.svg')] bg-cover bg-center">
  <h1 class='text-9xl mt-20'>Lorem &amp; itsum</h1>
  <h3 class='text-5xl p-10'>23 de Octubre de 2025</h3>
  <h2 class='text-9xl mt-20'>LI</h2>
  <p class='text-2xl'>Estamos Felices de Invitaros al desenlace</p>
</div>

<style></style>
