<div class='w-full flex justify-center bg-[#59002B] items-center sm:col-start-2 sm:col-end-9 sm:row-start-2 my-1 py-2 rounded-2xl border-4 border-[#6C7854]'>
  <ul class='flex flex-row space-x-14 py-[0.25rem] text-white sm:text-xl text-4xl'>
    <li>
      <a href=''>Eventos</a>
    </li>
    <li>
      <a href=''>Ubicaciones</a>
    </li>
    <li>
      <a href=''>Alojamientos</a>
    </li>
    <li>
      <a href=''>Asistencias</a>
    </li>
  </ul>
</div>
<style></style>
