<div id='container' class="w-full h-screen flex flex-col justify-center items-center bg-[url('../assets/background.svg')] bg-cover bg-center">
  <h1 class='text-9xl'>Lorem &amp; itsum</h1>
</div>

<style></style>
