<div class="w-full h-screen flex flex-col justify-center items-center bg-[url('../assets/background.svg')] bg-cover bg-center">
  <h1 class='sm:text-9xl text-4xl'>Itinerario</h1>
</div>

<style></style>
