<div class="w-full h-screen flex flex-col justify-center items-center bg-[url('../assets/background.svg')] bg-cover bg-center col-start-1 col-end-6 sm:col-start-2 sm:col-end-5 sm:row-start-1">
  <h1 class='sm:text-9xl text-4xl'>Itinerario</h1>
</div>

<style></style>
