<section id="Survey" class="grid grid-cols-1 sm:grid-cols-5 scroll-mt-40">
  <div class='w-full flex flex-col justify-center items-center not-last: bg-[#59002B] sm:col-start-2 sm:col-end-5 sm:row-start-3 col-start-1 col-end-6 pb-40 rounded-b-full'>
    <form
        class="flex flex-col text-white p-4 w-[75%]"
    >
      <fieldset class="mb-4">
        <legend class="form-legend">Datos personales</legend>
        <div>
          <label class="form-label" for="name">Nombre</label>
          <input class="form-input" id="name" name="entry.386223311" required>
        </div>
        <div>
          <label class="form-label" for="surname">Apellidos</label>
          <input class="form-input" id="surname" name="entry.1807035495" required>
        </div>
      </fieldset>
      <fieldset class="mb-4">
        <legend class="form-legend">Asistencia</legend>
        <p class="form-label">¿A qué asistirás? (Puedes elegir más de uno)</p>
        <div class="form-container">
          <div>
            <input class="form-input form-checkbox" id="assist-farewall" name="entry.1100793766" type="checkbox" value="Despedida">
            <label class="form-label" for="assist-farewall">Despedida</label>
          </div>
          <div>
            <input class="form-input form-checkbox" id="assist-prewedding" name="entry.1100793766" type="checkbox" value="Preboda">
            <label class="form-label" for="assist-prewedding">Preboda</label>
          </div>
          <div>
            <input class="form-input form-checkbox" id="assist-wedding" name="entry.1100793766" type="checkbox" value="Boda">
            <label class="form-label" for="assist-wedding">Boda</label>
          </div>
        </div>
        <div>
          <label class="form-label" for="assistants">Número de asistentes</label>
          <!-- Esto podría ser un type="text" para que no salga el modificador de la derecha, pero habría que validar que se meten solo números -->
          <input class="form-input" id="assistants" name="entry.1604035408" type="number" min="1" value="1" required>
        </div>
      </fieldset>
      <fieldset class="mb-4">
        <legend class="form-legend">Comida</legend>
        <div>
          <label class="form-label" for="allergies">Alergias</label>
          <input class="form-input" id="allergies" name="entry.2017511883">
        </div>
        <div>
          <label class="form-label" for="food-preference">Preferencias alimentarias</label>
          <select class="form-select" id="food-preference" name="entry.1598415351" required>
              <option value="Vegetariano">Vegetariano</option>
              <option value="Vegano">Vegano</option>
              <option value="Otro">Otro</option>        
          </select>
          <div id="which-food-container" class="hidden">
            <label class="form-label" for="which-food">Especificar preferencia alimentaria</label>
            <input class="form-input" id="which-food" name="entry.587393911">
          </div>
        </div>
      </fieldset>
      <fieldset class="mb-4">
        <legend class="form-legend">Transporte</legend>
        <div>
          <label class="form-label" for="use-bus">Usar bus</label>
          <select class="form-select" id="use-bus" name="entry.1185864283" required>
            <option value="No">No</option>
            <option value="Sí">Sí</option>
          </select>
        </div>
        <div id="which-bus-container" class="hidden">
          <!-- Esto a lo mejor es un select, o un radio -->
          <label class="form-label" for="which-bus">Especificar bus</label>
          <input class="form-input" id="which-bus" name="entry.39653345">
        </div>
      </fieldset>
      <button class="form-submit rounded-full" type="submit">Enviar</button>
    </form>
    <p id="form-submitted" class="text-white"></p>
  </div>
</section>
<style>
  .form-input, .form-select {
    border-radius: 999px;
    background-color: #DDB1C0;
    color: #111111
</style>
<script is:inline>
  document.querySelector("form")?.addEventListener("submit", (e) => {
    e.preventDefault();

    const data = new FormData(e.target);

    fetch("https://docs.google.com/forms/d/e/1FAIpQLSdz6BWf5gyLzXEK8IrN9IVgPyAO38rkQxyk-vXyG6j-YVb3Vg/formResponse", {
      method: "POST",
      mode: "no-cors",
      body: data,
    });

    e.target.reset();

    const formSubmitted = document.querySelector("#form-submitted");
    formSubmitted.textContent = "Respuesta enviada correctamente";
  })

  document.body.addEventListener("change", (e) => {
    if (e.target.id === "food-preference") {
      const whichFoodContainer = document.getElementById("which-food-container");
      
      if (e.target.value === "Otro") {
        whichFoodContainer.classList.remove("hidden");
      } else {
        whichFoodContainer.classList.add("hidden");
      }
    } else if (e.target.id === "use-bus") {
      const whichBusContainer = document.getElementById("which-bus-container");

      if (e.target.value === "Sí") {
        whichBusContainer.classList.remove("hidden");
      } else {
        whichBusContainer.classList.add("hidden");
      }
    }
  })
</script>
