---
import Bus from "../assets/autobus_icono.svg";
import Texto from "../assets/texto_autobus.png";
---

<section id='Locations' class='grid grid-cols-1 sm:grid-cols-5 scroll-mt-40'>
  <div class='relative w-full flex flex-col justify-center items-center bg-[#59002B] sm:col-start-2 sm:col-end-5 sm:row-start-3 pb-20 text-white pt-20'>
    <img class='w-[70%]' src={Bus.src} alt='imagen de un autobús' />
    <img class='w-[70%]' src={Texto.src} alt='Texto con itinerario de autobuses' />
  </div>
</section>
