---
import Pueblo from '../assets/Mapa.png';
import Flower from "../assets/flowers/Jara 1.svg";
---
<section id='Locations2' class='grid grid-cols-1 sm:grid-cols-5 scroll-mt-40'>
  <div  class='relative w-full flex flex-col justify-center items-center bg-[#59002B] sm:col-start-2 sm:col-end-5 sm:row-start-3 pb-20 text-white'>
    <img id='flower' class='absolute top-[150px] right-[-50px] xl:right-[-200px] xl:w-[300px] xl:h-[300px] w-[100px] h-[100px]' src={Flower.src} alt='Flor decorativa' />

      <img class='w-[90%]' src={Pueblo.src} alt='imagen del pueblo' />
  </div>
</section>