---
import triFlower from "../assets/flowers/Jara grupo de 3.svg";


---

<section id="Lodging" class='grid grid-cols-1 sm:grid-cols-5 scroll-mt-40'>
  <div class='relative w-full flex gap-0 lg:flex-row flex-col justify-center items-center bg-[#59002B] sm:col-start-2 sm:col-end-5 sm:row-start-3 pb-20'>
    <img id='flower' class="absolute left-[-150px] lg:left-[-250px] 2xl:left-[-200px] top-[-50] lg:h-100 lg:w-100 h-80 w-80" src={triFlower.src} alt='Flor decorativa' />

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-40 lg:gap-15 2xl:gap-40 mr-20 pl-20">
      <div class="flex flex-col">
        <h3 class='text-lg lg:text-2xl font-semibold text-white text-center whitespace-nowrap'>HERRERA DEL DUQUE</h3>
        <ul class='flex flex-col items-start gap-10 m-5 p-5 text-white underline'>
          <li><a target="_blank" href='https://maps.app.goo.gl/eC5WnDBqkb6yVKcJA'>Casa Rural La Plaza 23</a></li>
          <li><a target="_blank" href='https://maps.app.goo.gl/zbBfydnrZxiuJXmg7'>Casa Rural Albahaca</a></li>
          <li><a target="_blank" href='https://maps.app.goo.gl/3Pj6DB7bryASH8hE6'>Casa Rural Los Aperos</a></li>
          <li><a target="_blank" href='https://maps.app.goo.gl/nHxuW5eTkNKg5amt5'>Hostal Carlos I</a></li>
          <li><a target="_blank" href='https://maps.app.goo.gl/wA6TXrUhnusfNpft6'>HR Paco's</a></li>
          <li><a target="_blank" href='https://maps.app.goo.gl/J3LW6M1C3QHJktRe9'>Reserva Benazaire</a></li>
          <li><a target="_blank" href='https://maps.app.goo.gl/s5FnhbyCoMzfup2n6'>El Fogón de Felisa</a></li>
        </ul>
      </div>

      <div class="flex flex-col">
        <h3 class='text-lg lg:text-2xl font-semibold text-white text-start whitespace-nowrap ml-[10%]'>GUADALUPE</h3>
        <ul class='flex flex-col items-start gap-10 m-5 p-5 text-white underline'>
          <li><a target="_blank" href='https://www.google.com/maps/place/ANJ+ESTUDIO+TEMPLETE/@39.4516109,-5.3277074,17z/data=!3m1!4b1!4m6!3m5!1s0xd153fd7cf02b823:0x2977e98c6df1fca5!8m2!3d39.4516109!4d-5.3277074!16s%2Fg%2F11vcm1gp7l?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D'>ANJ Estudio Templete</a></li>
          <li><a target="_blank" href='https://www.google.com/maps/place/ANJ+Alojamientos/@39.4514528,-5.327875,17z/data=!3m1!4b1!4m6!3m5!1s0xd153fa10fc16d83:0x1c7fe5a21351cee0!8m2!3d39.4514528!4d-5.327875!16s%2Fg%2F11jzr9d__p?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D'>ANJ Alojamientos</a></li>
          <li><a target="_blank" href='https://www.google.com/maps/place/Hostal+Alba+Taruta/@39.4518087,-5.3282322,17z/data=!3m1!4b1!4m9!3m8!1s0xd153ea17734b053:0x6d2a44d7aa8effa!5m2!4m1!1i2!8m2!3d39.4518087!4d-5.3282322!16s%2Fg%2F1tfwfrr0?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D'>Hostal Alba Taruta</a></li>
          <li><a target="_blank" href='https://www.google.com/maps/place/Parador+de+Guadalupe/@39.4523588,-5.3261409,17z/data=!3m1!4b1!4m9!3m8!1s0xd153ea15763e27d:0x71941513bffcc201!5m2!4m1!1i2!8m2!3d39.4523588!4d-5.3261409!16s%2Fg%2F113gnh58p?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D'>Casa Rural Llana 12</a></li>
          <li><a target="_blank" href='https://www.google.com/maps/place/Hotel+Hospeder%C3%ADa+Monasterio+de+Guadalupe/@39.4531026,-5.3279044,17z/data=!3m1!4b1!4m9!3m8!1s0xd153ea203dd844b:0xa854d34c58df6d52!5m2!4m1!1i2!8m2!3d39.4531026!4d-5.3279044!16s%2Fg%2F11xkltrzf?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D'>Hospederia Del Real Monasterio</a></li>
          <li><a target="_blank" href='https://www.google.com/maps/place/Hostal+Altamira/@39.4519128,-5.3282249,17z/data=!3m1!4b1!4m9!3m8!1s0xd153ea17a0f11df:0x9e95e34911ecba48!5m2!4m1!1i2!8m2!3d39.4519128!4d-5.3282249!16s%2Fg%2F1tfqs5yh?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D'>Hostal Altamira</a></li>
          <li><a target="_blank" href='https://www.google.com/maps/place/Parador+de+Guadalupe/@39.4523588,-5.3261409,17z/data=!3m1!4b1!4m9!3m8!1s0xd153ea15763e27d:0x71941513bffcc201!5m2!4m1!1i2!8m2!3d39.4523588!4d-5.3261409!16s%2Fg%2F113gnh58p?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D'>Parador De Guadalupe</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
