---
import Iconos from "../assets/Iconos.png"
import BiFlower from "../assets/flowers/Jara duo.svg"
---
<section id="Schedule" class="grid grid-cols-1 sm:grid-cols-5 scroll-mt-20">
<div class='relative w-full flex bg-[#59002B] col-start-1 col-end-6 sm:col-start-2 sm:col-end-5 sm:row-start-1 justify-center m-0 py-[40px]'>
  <img id='flower' class="flower rotate-25  absolute xl:left-[-300px] left-[-120px] top-[200px] xl:top-[200px] xl:w-[500px] xl:h-[500px] w-[200px] h-[200px]" src={BiFlower.src} alt='Flor decorativa'/>
  <img class='w-[90%] md:w-[60%] xl:w-[50%]' src={Iconos.src} alt='imagen de los diferentes iconos' />
  
</div>
</section>
<style></style>
